.status {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 21px;
    z-index: 2;
}

.work {
    background: #53a253;
    right: 5px;
    top: 5px;
}

.rest {
    background: #e15e5e;
    right: 5px;
    top: 5px;
}

.attendance {
    background: #ffaf23;
    bottom: 5px;
    right: 5px;
}